/**
*   ABSTRACT
*/

@import 'scss/abstract/fonts';
@import 'scss/abstract/constants';
@import 'scss/abstract/normalize';

/**
*   BASE
*/

@import 'scss/base/typography';

@import 'scss/layouts/header';
@import 'scss/layouts/container';
@import 'scss/layouts/footer';
@import 'scss/base/modal';


/**
*   COMPONENTS
*/
@import 'scss/components/welcome-section';
@import 'scss/components/about-section';
@import 'scss/components/swiper-slider';
@import 'scss/components/favorite-section';
@import 'scss/components/coffee-shop-section';
@import 'scss/components/contact-section';
@import 'scss/components/library-card-section';



@media screen and (max-width: 1024px) {
    
    .container {
        max-width: 768px;
    }

    .nav {
        &__content {
            position: relative;
        }
        z-index: 1;
    }
}