.welcome-section {
    background: url('../assets/img/Welcome.png');
    background-size: cover;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 600px;
    position: relative;
    &__overlay {
        background: linear-gradient(
            180deg,
            $main-black-color 0%,
            $main-black-color 0.01%,
            rgba(18, 18, 21, 0.1) 100%,
            rgba(18, 18, 21, 0.1) 100%
        );
        position: absolute; /* Абсолютное позиционирование градиента внутри элемента */
        top: 0; /* Размещаем градиент вверху элемента */
        left: 0;
        right: 0;
        bottom: 50%; /* Ограничиваем высоту градиента до верхней половины элемента (50%) */
    }

    &__bg {
        position: relative;
        display: inline-flex;
        top: 22rem;
        left: -2rem;
        background-color: $main-black-color;
        padding: 3.5rem 4rem;
    }
    &__title {
        width: 52rem;
        height: 15rem;
        color: $main-white-color;
        font-size: 4rem;
        text-transform: uppercase;
        text-align: center;
        color: $main-white-color;
        font-family: $forum;
        font-style: normal;
        font-weight: 400;
        line-height: 5rem; /* 125% */
        letter-spacing: 0.3rem;
    }
    &__nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 69px;
        align-items: center;
    }
}
