// Max width of all
$container-max-width: 1440px !default;


// colors
$main-black-color: #0c0c0e;
$main-white-color: #ffffff;
$second-light-color: #8e8e8e;
$second-color: #bb945f;
$black-color-text: #000000;